:root {
  --font: #fff;
  --background: #fff;
  --header-background: #fff;
  --nav-background: #fff;
  --main-background: #fff;
  --footer-background: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
}

header {
  font-size: 2.4rem;
}

button {
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  /* border: none; */
  outline: none;
  cursor: pointer;
  padding: 1rem;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.user-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  margin-right: 2rem;
}

/* Main */

.main {
  display: flex;
  padding: 1rem;
}

.nav {
  padding: 1rem;
  flex: 1;
}

.nav button {
  width: 100%;
  text-align: left;
}

.default-project {
  padding: 1rem;
}

.user-projects h1 {
  padding: 1rem;
}

.project-preview {
  flex: 3;
  padding: 1rem;
}

.project-preview h1 {
  padding: 1rem;
}

.task {
  padding: 1rem;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fab {
  margin-left: 1rem;
  color: black;
}
