:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* helpful when creating basic structure */
  /* border: 1px solid black; */
}

html {
  font-size: 62.5%;
  line-height: 1.6;

  /* footer support */
  position: relative; /* makes html an element which footer sticks to */
  min-height: 100%; /* not necessary when main takes all available space */
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

header {
  font-size: 2.4rem;
}

button {
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 1rem;
}

i {
  margin-right: 1rem;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check-double {
  font-size: 4rem;
}

.page-name {
  margin-left: 2rem;
  font-family: "Yusei Magic", sans-serif;
  font-size: 4rem;
}

.user-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.user-name {
  margin-right: 2rem;
}

.button-sign-out {
  background-color: #be6666;
}

.button-sign-out:hover {
  background-color: #ad5555;
}

/* Main */

.main {
  display: flex;
  margin-bottom: 3.5rem;

  /* 100vh - header_height - footer_height */
  min-height: calc(100vh - 10.4rem - 3.5rem);
}

.nav {
  padding: 2rem;
  flex: 1;
  background-color: var(--secondary-light);
}

.button-nav {
  width: 100%;
  background-color: var(--secondary-light);
  text-align: left;
}

.button-nav:hover {
  background-color: #ccc;
}

.user-projects h1 {
  padding: 1rem;
  margin-top: 1rem;
}

.project-preview {
  flex: 5;
  padding: 2rem 4rem;
}

.project-preview h1 {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.button-task {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.button-task:hover {
  background-color: #ddd;
}

.fa-circle,
.fa-check-circle {
  font-size: 2.4rem;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.fa-github {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--primary-light);
}

.fa-github:hover {
  color: #ccc;
}

@media (max-width: 1200px) {
  .project-preview {
    flex: 3;
  }
}

@media (max-width: 850px) {
  .project-preview {
    flex: 2;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  .project-preview {
    flex: 1;
  }

  .user-name {
    display: none;
  }
}
